*{
    /* outline: 2px solid black; */
}
/* *{
    outline: 2px solid red; */
    /* margin: 0;
    padding: 0; */
.first{
    display: flex;
    gap: 20%;
}
.left1{
   margin-top: -2%;
   margin-left: 5%;
}
.left1 h4 {
    font-size: 130%;
    text-decoration: underline;
    text-underline-offset: 30%;
    text-decoration-thickness: 20%;
    letter-spacing: 0.1em;
    color: rgb(145, 49, 49);
    font-family: open sans;
}
    .underline{
        color: black;
    }
.left1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:310% ;
     margin-top: -23px;
}
.left1 p{
    font-size: 101%;
     margin-top: -39px;
     font-family: open sans;
     font-weight: 390;
     letter-spacing: 0.1em;
  
}
body{
    margin: 0;
    font-family: "Libre Baskerville";
}
.navbar ul {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;
}
.navbar{
    background-color: rgb(113, 29, 29);
    
}
.allnav{
    padding: 1% 2.33%;
box-sizing: contain-box;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
}
.allnav:hover{
background-color: silver
}
.secondall{
    display: flex;
    align-items: stretch;
    gap: 19px;
    margin-left: 26px;
}
.second{
    margin-left: 2%;
    width: 50%;
    height: 50%;
    gap: 30%;
    
}
.second img{
    height: 100%;
    width: 100%;
}
.left2{
    /* margin-left: 4.13%; */
    width: 42.2%;
    height: 320%;   /* IMPORTANT */
    background-image: url("form_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex; */
    gap: 10px;

    
}
.left2 h3 {
    background-color: rgb(155, 45, 45);
    display: inline-block;
    padding: 5px 12px;
    margin: 0;
    color: white;
    font-size: 1.6em;
    font-family: normal;
    font-family: "Libre Baskerville";
}
 .span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 144%;
 }
    
#ulgan{
     font-family: sans-serif;
    font-weight: bold;
    font-weight: 900;
    font-size: 145%;
    -webkit-text-stroke: 0.04em;
    color: purple;
    letter-spacing: 0.05em;
 
}

.manall{
   display: flex;
    gap: 6%;
}

#ulgan{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: rgb(105, 105, 141);
}
.text{
    margin-left: 6%; 
    font-size: 96%;
    /* letter-spacing:-0.06em ;   */
    /* line-height: 7%; */
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.number{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.placeholders{
    margin-left: 2%;
    gap: 3%;
    line-height: 28px;
}
.place1{
    margin-left: 22px;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    
}
.place2{
    margin-left: 22px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
}
.place3{
    display: flex;
    margin-left: 22px;
    height: 23px;
    margin-top: 9px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
}
.all{
    display: flex;
}
.confi{
    font-size: 12%;
    font-family: Arial, Helvetica, sans-serif;
}
.confi img{
    transform: rotate(13deg);
    margin-top: 12%;
    margin-left: 8%;
    font-size: 12%;
    font-family: Arial, Helvetica, sans-serif;
    width: 185px;
    height: 47px;
}
.imgplace textarea{

    height: 3.3em;
    width: 84.5%;
    font-size: 16px;
    font-family: open sans;
    font-weight: bold;
    /* font-weight: bold; */
}
#placeimg{
    margin-top: 6%;
    margin-left: 7%;
}
.para{
    margin-left: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.paraask{
    display: flex;
}
.Ask{
    margin-left: 2%;
    margin-top: 1%;
    height: 2.1em;
    width: 52.5%;
    background-color: rgb(198, 42, 42);
    font-size: 19px;
    color: white;
}
.secondstage{
    width: 30%;
    margin-left: 40px;
}
.h2h4{
    line-height: 9px;
}
.allsub{
    width: 37%;
    border-left: 1px solid black;
    /* padding-left: 20px; */
    border-right:1px solid black;
    /* padding-right: 27px; */
    /* margin-left: 60px; */
} 
.dui{
    color: #9b1616
}
.free{
    color: #9b1616;
    font-size: 18px;
    font-family: arial;
}
.fff{
    display: flex;
    width: 1150px;
}
.fff2{
    display: flex;
    /* margin-left: 3%; */
     border-bottom: 1px solid black;
    padding-bottom: 25px;
    justify-content: space-around; 
}
.blearn{
    line-height: 9px;
}
.blearn p{
    margin-top: -10px;
    line-height: 22px;
}
.blog{
color: rgb(112, 13, 13);
}
.keefer img{
    margin-left: 20px;
    margin-top: 28px;
}
.ff2{
    display: flex;
    justify-content: space-around; 
}
.result{
    color: rgb(119, 24, 24);
}
.subff2 h2 {
    margin-bottom: -12px;
    margin-top: 6px;
}
.order{
    margin-top: 30px;
}
.allff{
    margin-left: 2.5%;
    margin-top: 4%;
    
}
.textimg{
    display: flex;
    gap: 3px;          
}

.being{
    flex: 0.99;      
    font-size: 15px;   
    margin-top: -10px;
    line-height: 15px;
}
.pasteimg{
    flex: 0 0 auto; 
    margin-right: 13%;
    margin-top: -3%; 
          
}
.buttons{
    text-align: center;
    display: inline-block;
    border-top: 1px solid black;
    padding-top: px;
    width: 180px;
    margin-left: 130px;
    margin-top: 25px;
}
button{
    border: none;
}
.button1{
    display: block;
    background-color: rgb(170, 31, 31);
    font-size: 16px;
    margin-left: 39px;
     color: white;
     height: 25px;
     width: 121px;
}
.buttons2{
    text-align: center;
    border-top: 1px solid black;
    width: 194px;
}
.button2{
    margin-left: 50px;
    display: block;
    background-color: rgb(170, 31, 31);
    font-size: 16px;
    text-align: center;
     color: white;
     height: 25px;
  width: 121px;
}
.buttons3{
    text-align: center;
    border-top: 1px solid black;
    width: 200px;
    margin-left: 25px;
    margin-top: -38px;
}
.button3{
    margin-left: 45px;
     display: block;
    background-color: rgb(170, 31, 31);
    font-size: 16px;
    text-align: center;
     color: white;
     height: 25px;
  width: 121px;
}
.buttons4{
    text-align: center;
    border-top: 1px solid black;
    width: 200px;
    margin-left: 81px;
    margin-top: -6px;
}
.button4{
    margin-left: 45px;
     display: block;
    background-color: rgb(170, 31, 31);
    font-size: 16px;
    text-align: center;
     color: white;
     height: 25px;
  width: 121px;
}
  
.pasteimg img{
    width: 110%;
    height: auto;
}

.ff3{
    margin-left:1%;
    width: 30%;
}
.subff3{
    display: flex;
    gap: 65px;
}
.qtext h2{
  margin-top: 10px;
  font-size: 22px;
}
.cre{
    color: rgb(182, 22, 22);
}
.para2 p{
    margin-top: -12px;
}
 .line1{
    margin-top: 30px;
    text-align: center;
} 
.container{
    display: flex;
    gap: 40px;
    margin: 40px;
}

/* LEFT */
.areas{
    width: 300px;
}
.parea{
    color: rgb(189, 16, 16);
}

.bigbuttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box{
    font-weight: bold;
    line-height: 22px;
    font-size: 21px;
    padding: 6px;
}
.more{
    color:#9b1616
}
.learn1{
    margin-top: 4px;
    display: flex;
    margin-left: 126px;

}
.learn2{
    margin-top: 4px;
    display: flex;
    margin-left: 126px;
}
.learn3{
    margin-top: 4px;
    display: flex;
    margin-left: 126px;
}
.learn4{
    margin-top: 4px;
    display: flex;
    margin-left: 126px;
}
.learnimg1{
    margin-top: 2.5px;
    margin-left: 4px;
}
.learnimg2{
    margin-top: 2.5px;
    margin-left: 4px;
}
.learnimg3{
    margin-top: 2.5px;
    margin-left: 4px;
}
.learnimg4{
    margin-top: 2.5px;
    margin-left: 4px;
}
.menu{
    text-align: center;
    line-height: 30px;
    margin-top: 110px;
    color: rgb(126, 109, 109);
}
.box{
    background: #888;
    color: white;
    border: none;
    padding: 6px;
    text-align: left;
    border-left: 6px solid maroon;
    font-size: 21px;
    line-height: 22px;
}

.box span{
    font-size: 14px;
}

/* RIGHT */
.page-content{
    width: 60%;
}

.page-content h1{
    font-size: 28px;
    margin-bottom: 15px;
}
.para3{
    font-family: arial;
    font-size: 13px;
    line-height: 24px;
    color: silver;
}
/* .client{
    text-align: center;
} */
.client h2{
    font-weight: bold;
     color: black
}
.test{
    color: rgb(156, 21, 21);
}
.client p{
    font-size: 15px;
}
.clientbut{
 text-align: center;
    display: inline-block;
    border-top: 1px solid black;
    width: 192px;
}
.lastimgs{
margin-left: -33px;
}
.sclientbut{
     margin-left: 50px;
    display: block;
    background-color: rgb(170, 31, 31);
    font-size: 16px;
    text-align: center;
    color: white;
}
.free2{
    color:#9b1616
}
.client p{
    font-size: 16px;
}
.our{
    color:#9b1616
}
/* .client img{
    margin-top: 20px;
    margin-left: 20px;
} */
 .slast{
    text-align: center;
    margin-top: 20px;
 }
 .slast img{
    width: 150px;
 }
 .slast2{
    text-align: center;
    margin-top: 20px;
 }
 .slast2 img{
    width: 130px;
 }
  .follow{
    text-align: center;
 }
 .us{
    color: rgb(235, 24, 24);
 }
 
 .ifimg img{
    margin-left: 25px;
 }
 .lastfor{
    display: flex;
    gap: 13px;
    margin-left: 36px;
    height: 37px;
}
/* =====================
   RESPONSIVE COMPLETE
   ===================== */

/* MOBILE */
@media(min-width:1185px) and (max-width:1200px){
    .para3{
        font-size: 12px;
    }
}

@media(min-width:600px) and (max-width:1180px){
    .manall{
        font-size: 14px;
    }
}
@media(min-width:600px) and (max-width:1184px){
     .bigbuttons{
        width: 252px;
     }
     .para3{
         font-size:  12px;
     }
     .allff{
        margin-left: 30px;
     }
     .fff{
        width: 1105px;
     }
    }
    @media(min-width:900px) and (max-width:1164px){
    .para3{
        font-size: 11px;
    }
    .fff{
        width: 1070px;
    }
    .confi img{
        width: 167px;
        margin-top: 25px;
        margin-left: 18px;

    }
}   
@media(min-width:600px) and (max-width:1130px){
    .left1{
        font-size: 14px;
    }
    .left2{
        size: 23px;
        height: 346px;
    }
    .manall{
        font-size: 21px;
    }
    .text{
        margin-bottom: 3px;
    }
    .all{
        margin-bottom: -26px;
    }
    .placeholders{
        margin-bottom: 32px;
    }
    #placeimg{
        margin-top: 0px;
    }
    .fff{
    
    }
    .secondstage{
        margin-left: 50px;
        font-size: 14px;
    }
    .allsub{
        font-size: 14px;
        margin-right: 20px;
    }
    .ff3{
       margin-right: 50px;
       margin-left: 0px;
    }
    .para3{
        font-size: 11px;
    }
    .confi img{
        width: 150px;
    }
    .span{
        font-size: 20px;
    }
    .left2 h3{
        font-size: 22px;
    }
    .imgplace{
        margin-top: 12px;
    }
    .paraask{
        margin-top: 3px;
    }
}
@media(min-width:900px) and (max-width:1115px){
    .fff{
        width: 1070px;
    }
    .secondstage{
        font-size: 12px;
    }
    .pasteimg img{
        margin-top: 3px;
      height: 110px;
      margin-left: 12px;
      width: 85px;
      margin-right: -24px;
    }
    .being{
        font-size: 12.6px;
    }
    .button1{
        margin-left: 40px;
    }
    .buttons{
        margin-left: 95px;
        margin-top: 40px;
    }
    .container{
        width: 1032px;
        margin-left: 75px;
    }
    .client{
        font-size: 12px;
    }
    .lastfor{
        margin-right: 36px;
    }
    .para3{
        font-size: 10.5px;
    }

}
@media(min-width:900px) and (max-width:1106px){
    .navbar{
        width: 99%;
    }
    .line1{
        width: 1100px;
    }
    .lastimgs{
        margin-left: -12px;
    }
    .container{
        width: 1000px;
        margin-left: 74px;
    }
    .para3{
        font-size: 9px;
    }
}
@media(min-width:900px) and (max-width:1100px){
  .first{
    width: 990px;
  }
    .confi img{
        width: 143px;
    }
    .line1{
        width: 980px;
    }
    .container{
        width: 990px;
    }
    .fff{
        width: 990px;
    }
    .h2h4{
        font-size: 11px;
    }
    .secondstage h3{
        font-size: 11px;
    }
    .pasteimg img{
        width: 74px;
        height: 98px;
        margin-right: -36px;
    }
    .being{
        font-size: 13px;
    }
    .allsub{
        font-size: 13px;
        margin-left: 20px;
    }
    .blearn h2{
        font-size: 17px;
    }
    .subf2{
        margin-left: 10px;
        
    }
    .subff2{
        font-size: 12px;
    }
    .ff3{
        font-size: 15.5px;
    }
    .buttons3{
        margin-top: -58px;
    }
    .buttons{
        margin-top: 20px;
    }
    .qtext h2{
        font-size: 13px;
    }
    .lastimgs{
        margin-right: 12px;
    }
}
@media(min-width:900px) and (max-width:1080px){
    .left1{
        margin-left: 35px;
        font-size: 14px;
        margin-top: 4px;
    }
    .fff{
        margin-left: -22px;
    }
    .container{
        margin-left: 40px;
    }
    
}
@media(min-width:900px) and (max-width:1055px){
    .left1{
        font-size: 14px;
        margin-left: 10px;
    }
    .navbar {
        width: 95%;
    }
    .left2{
        height: 100%
    }
    .navbar {
        width: 100%;
    }
    .text{
        margin-top: -13px;
    }
    .confi img{
        margin-left: 8px;
        width: 133px;
        margin-top: 8px;
    }
    .placeholders{
        line-height: 28px;
        margin-top: -18px;
    }
    .fff{
        margin-left: -29px;
    }
    .line1{
        width: 850px;
    }
    .container{
        margin-left: 30px;
    }
    .para3{
        font-size: 9px;
    }
}
    /* =====================
   RESPONSIVE FOR LAPTOP
   ===================== */
    @media(min-width:600px) and (max-width:1024px){
        .left1{
            margin-left: 13px;
            font-size: 13px;
        }
        .left2{
            width: 425px;
            height: 312px;
        }
        .navbar {
        width: 100%;
    }
        .manall{
            margin-bottom: -13px;
    }
        
        .mansehra h3{
            font-size: 19px;
        }
        .text{
            ffont-size: 15px;
            margin-bottom: -9px;
        }
        .place1{
            font-size: 11px;
            margin-top: 15px;
        }
         
        .place2{
            font-size: 11px;
        }
        .place3{
            font-size: 11px;
        }
        #placeimg{
            height: 34px;
            width: 365px;
        }
        .placeholders {
         margin-bottom: 19px;
        }
        .para{
            margin-left: 25px;
        }
        .paraask{
            font-size: 12.9px;
        }
        .fff{
          width: 953px;
          margin-left: 24px;
        }
        .secondall{
            margin-left: 18px;
        }
    .secondstage{
        font-size: 12px;
        margin-left: 30px;
    }
    .h2h4{
        font-size: 10px;
    }
    .free{
        font-size: 12px;
    }
    .being{
        font-size: 12px;
    }
    .buttons{
        margin-left: 65px;
    }
    .allsub{
        font-size: 11px;
    }
    .fff2{
        gap 10px
    }
    .blearn p{
        line-height: 15px;
    }
    .keefer img{
        margin-left: 12px;
    }
    .button2{
       width: 88px;
       font-size: 12px;
       margin-left: 30px;
    }
    .buttons2{
        margin: left 10px;
        width: 134px;
    }
    .subff2{
        font-size: 11px;
        margin-left: 7px;
    }
    .button3{
        margin-left: 20px;
    }
    .buttons3{
        margin-left: 10px;
    }
    .bff3{
        width: 21px;
    }
    .subff3{
        gap: 40px;
    }
    .subff32 img{
        width: 98px;
    }
    .para2 p{
        font-size: 14px;
    }
   .container{
        margin-left: 71px;
        gap: 0px;
        width: 930px;
    }
    .areas{
        font-size: 13px;
    }
    .bigbuttons{
        width: 240px;
    }
    .box{
        font-size: 17px;
        width: 200px;
    }
    .learn1{
        margin-left: 75px;

    }
    .box span{
        margin-left: 75px;
    }
     .client p{
        margin-top: -12px;
        font-size: 12px;
    }
    .page-content{
        margin-right: -15px;
    }
    .client{
        font-size: 14px;
        margin-right: 90px;
    }
    .lastimgtext{
        margin-left:43px ;
        
    }
    .slast img{
       width: 125px;
       height: 100px;
      
    }
    .slast2 img{
        width: 125px;
        height: 115px;
       
    }
    .lastimgs{
        width: 32px;
        
    }
    .follow h3{
        margin-left: 12px;
        display: flex;
    }
    .ifimg img{
        margin-left: -34px;
    }
    .lastfor{
        margin-left: -22px;
    }
    .menu{
        margin-right: 50px;
    }
}
  @media(min-width:600px) and (max-width:1007px){
    .fff{
        width: 952px;
        margin-left: 12px;
    }
    .allsub{
        margin-left: 6px;
    }
    .ff3{
        margin-left:;
    }
    .container{
        width: 900px;
    }
  }
     @media(min-width:600px) and (max-width:1000px){
       .left1{
        margin-left: -5px;
       }
        .fff{
            justify-content: space-around;
            display: flex;
           flex-wrap: wrap;
           width: 90%;
           margin-left: 22px;
        }
        .secondstage{
            width: 40%;
        }
        .h2h4{
            font-size: 18px;
        }
        .free{
            font-size: 20.4px;
        }
        .being{
            font-size: 18px;
            line-height: 20px;
        }
        .buttons{
            width: 213px;
            margin-top: -12px;
            margin-bottom: 16px;
            margin-left: 116px;
        }
        .button1{
            width: 139px;
            font-size: 19px;
        }
        .pasteimg img{

        }
        .buttons2{
            width: 219px;
        }
        .button2{
           width: 139px;
           font-size: 19px;
           margin-left: 59px;x;
        }
        .allsub{
           width: 40%;
           border: none;
        }
        .fff2{
            border: none;
        }
        .blearn h2{
            font-size: 26px;
        }
        .blearn p{
           font-size: 17px;
           line-height: 20px;
        }
        
        .subff2 h2{
          font-size: 22px;
          line-height: 26px;
          margin-left: 2px; 
        }
        .subff2 p{
            font-size: 14px;
        }
         .buttons3{
           margin-left: 14px;
           margin-top: -32px;
        }
        .button3{
           width: 139px;
           font-size: 19px;
           margin-left: 47px;x;
        }
        .order img{
           margin-top: -33px;
           width: 150px;
           margin-right: -52px;
        }
        .ff3{
             width: 100%;
             margin-left: 330px;
        }
        .line1 img{
            width: 890px;
        }
        .lastimgtext{
            margin-left: 14px;
        }
     .navbar {
        width: 100%;
    }
    .subff31 img{
        width: 150px;
    }
    .subff32 img{
        width: 122px;
        
    }
    .qtext h2{
        font-size: 22px;
    }

    .subff3{
        gap: 35px;
    }
    .para2 p{
        font-size: 17px;
    }
    .buttons4{
        width: 194px;
        margin-left: 104px;
    }
    .button4{
       width: 149px;
       margin-left: 26px;
       font-size: 20px;
    }
    .line1 img{

        width: 800px;
    }
     .container{
            justify-content: space-around;
            display: flex;
           flex-wrap: wrap;
           width: 90%;
        }
        .areas{
            width: 40%;
        }
        .areas h1{
            font-size: 18px;
        }
         .box{
        font-size: 16px;
        width: 200px;
    }
    .box span{
        font-size: 14px;
    }
        .page-content{
           /* width: 120px; */
           margin-left: -239px;
        }
        .page-content h1{
            font-size: 18px;
        }
        .para3 p{
            font-size: 12px;
        }
        .menu{
            display: none;
        }
      .client{
        margin-left: 22px;
      }
    .client h2{
        font-size: 23px;
    }
    .client p{
        margin-top: -12px;
        font-size: 17px;
    }
    .down h3{
        font-size: 22px;
    }
    .clientbut{
        width: 185px;
       
    }
    .sclientbut{
       width: 121px;
       margin-right: -77px;
       margin-left: 41px;
       font-size: 18px;
    }
    .slast img{
        width: 160px;
        height: auto;

    }
    .slast2 img{
      width: 137px;
      height: auto;
      margin-left: 15px;
    }
    .folow h3{
        font-size: 15px;
    }
    .ifimg img{
        margin-left: -24px;
    }
    .lastfor{
        width: 34px;
        margin-left: -12px;
    }
}
  @media(min-width:600px) and (max-width:990px){
    .first{
        width: 900px;
    }
    .secondall{
        margin-left: 6px;
    }
    .left2{
        height: 308px;
    }
    .allff{
        width: 900px;
    }
  }
     @media(min-width:600px) and (max-width:975px){
        .left1{
            font-size: 12px;
            margin-left: -10px;
        }
        .navbar{
            width: 100%;
        }
        .secondall{
            margin-left: 4px;
        }
        .placeholders{
            margin-top: -2px;
        }
        .confi img{
            margin-top: 18px;
            width: 153px;
        }
        .left2{
            height: 304px;
        }
        .fff{
            margin-left: 2px;
            width: 850px;
        }
        .container{
            width: 860px;
        }
        .para3 p{
            font-size:11px;
        }
        .client{
            margin-left: 30px;
        }
}    
 @media(min-width:600px) and (max-width:950px){
        .left1{
            margin-left: -30px;
        }
        .secondall{
            margin-left: -5px;
        }
        .fff{
            margin-left: -9px;
        }
        .container{
            margin-left: 40px;
        }
    }
 @media(min-width:600px) and (max-width:930px){
    .secondall{
        width: 900px;
    }
    .left2{
        height: 280px;
    }
    .placeholders{
        margin-top: -23px;
    }
    .place1{
        margin-bottom: -4px;
    }
    .place2{
        margin-bottom: -7px;
    }
    .place3{

    }
    .confi img{
        margin-top: 7px;
    }
    .Ask{
        font-size: 18px;
    }
    .allff{
        margin-left: 0px;
    }
    .fff{
        margin-left: 0px;
    }
    .container{
        width: 800px;
    }
    .page-content{
        margin-left: ;
    }
 }
 @media(min-width:600px) and (max-width:925px){
        .left1{
           margin-left: -55px;
           margin-top: -7px;
        }
        .secondstage{
           
            margin-left: -50px;
        }
        .second img{
            width: 95%;
            height: auto;
        }
        .secondall{
            gap: 0px;
            margin-left: 15px;
        }
        .left2 img{
            /* width: 90%;
            height: auto; */
        }
        .left2{
            height: 277px;
            margin-left: -12px;
        }
        .span{
            font-size: 15px;
        }
        .fff{
            width: 829px;
            margin-left: 66px;
        }
        .container{
            width: 870px;
           
        }
 }
  @media(min-width:400px) and (max-width:915px){
    .secondall{
        margin-left: 6px;
        width: 850px;
    }
    .left2{
        height: 253px;
    }
    .text p{
        font-size: 14px;
    }
    .placeholders{

    }
    .place1 input{
        width: 140px;
        height: 13px;
    }
   .place2 input{
        width: 140px;
        height: 13px;
    }
    .place3 input{
        width: 140px;
        height: 13px;
    }
    .place1{

    }
    .place2{
        margin-top: -6px;
        margin-left: 23px;
    }
    .place3{
        
        margin-top: 7px;
    margin-left: 24px;
    }
    .confi img{
        width: 149px;
        height: 38px;
        margin-top: 12px;
    }
   #placeimg{
    width: 346px;
    height: 31px;
   }
    .Ask{
        width: 207px;
        font-size: 17px;
    }
    .fff{
        margin-left: 54px;
    }
    .container{
        width: 246px;
    }
  }
 @media(min-width:400px) and (max-width:900px){
    .first{
        width: 800px;
    }
    .left1{
     font-size: 13px;
     margin-left: -99px;
    }
    .secondall{
        margin-left: 15px;
    }
    .left2{
        height: 252.5px;
    }
    .placeholders{
        margin-top: -22px;
    }
   
     .place1{
        margin-bottom: -2px;
    }
     .place2{
        margin-top: -3px;
     }
     .place3{
        margin-top: 7px;
    }
    .allff{
        width: 800px;
    }
    .fff{
        margin-left: 50px;
    }
    .ff3{
        margin-left: 253px;
    }
    .container{
        margin-left: 35px;
        width: 832px;
 }
    .being{
        font-size: 15px;
    }
 
} 
 @media(min-width:400px) and (max-width:900px){
     .secondall{
        margin-left: ;
    } 
    .fff{
      margin-left: 49px;
      width: 790px;
    }
 }
 @media(min-width:400px) and (max-width:875px){
    .left1{
        margin-left: -84px;
        font-size: 12px;
    }
    .secondall{
        margin-left: -8px;
    }
    .fff{
        margin-left: 42px;
    }
    .container{
        margin-left: 20px;
        width: 730px;
    }
    .areas{
        font-size: 12px;
    }
    .bigbittons{
        margin-left: 12px;
    }
   .box{
    width: 200px;
    height: 56px;

   }
   .page-content{
    margin-left: -47px;
   }
   .page-content h1{
    font-size: 18px;
   }
   .para3 p{
    font-size: 9px;
   }
   .para3{
    font-size: 10px;
   }
   .client{
    margin-left: 133px;
   }
}
 @media(min-width:400px) and (max-width:852px){
    .line1 img{
        width: 800px;
    }
    .secondall{
        width: 800px;
        margin-left: 17px;
    }
    .left2{
        width: 398px;
        height: 240px;
    }
    .mansehra h3{
        font-size: 16px;
    }
    .span{
        font-size: 15px;
        margin-top: -2px;
    }
    .text p{
        font-size: 12.5px;
    }
    .placeholders{

    }
     .place1 input{
        width: 114px;
    }
    .place2 input{
        width: 114px;
    }
    .place3 input{
        width: 114px;
    }
    .place1{

    }
    .place2{
        margin-top: -7px;
    }
    .place3{
        margin-top: 6px;
    }
    .confi img{
        width: 129px;
        height: 33px;
    }
    #placeimg{
        font-size: 12px;
        width: 303px;
        margin-top: -4px;
    }
    .paraask{
        margin-top: -1px;
        font-size: 11px;
    }
    .Ask{
        font-size: 15px;
        width: 184px;
    }

    .fff{
        width: 714px;
        margin-left: 80px ;
    }
    .h2h4{
        font-size: 12px;
    }
    .being{
        font-size: 13px;
    }
    .buttons{
        margin-left: 46px;
    }
    .button1{
        
    }
    .allsub{
      margin-left: -118px;
    }
    
    .blearn h2{
        font-size: 18px;
    }
    .blearn p{
        font-size: 14px;
    }
    .keefer img{
        width: ;
    }
    .buttons2{
         width: 182px;
    }
    .button2{
        margin-left: 29;
    }
    .ff2{
       margin-left: -20px;
    }
    .subff2 h2{
        font-size: 18px;
    }
    .subff2 p{
        font-size: 13px;
    }
    .buttons3{
        margin-left: -1px;
    }
    
    .order img{
        margin-right: -76px;
    }
    .ff3{
        margin-left: 190px;
        margin-top: 12px;
    }
    .container{
        width: 700px;
        margin-left: 86px;
    }
    .para3 p{
        font-size: 9px;
    }
 }

 @media(min-width:400px) and (max-width:850px){
    .left1{
        font-size: 12px;
        margin-left: -105px;
    }
    .secondall{
        gap:;
    }
    .second img{
        width: 91%;
        margin-left: 25px;
    }
    .left2{
       width: 44%;
       height: 229px;
       margin-left: -2px;
    }
    .mansehra h3{
        font-size: 16px;
    }
    .span{
        font-size: 14px;
    }
    .text{
        font-size: 13px;
    }
    /* .placeholders{
        width: 80px;
        margin-top: 12px;
    } */
    .place1{
        display: flex;
        font-size: 10px;
        margin-top: 20px;
    }
    .place2{
        display: flex;
        font-size: 10px;
        margin-top: -2px;
    }
    .place3{
        display: flex;
        font-size: 10px;
        margin-bottom: -12px;
        margin-top: 10px;
    }
    .place1 input{
        width: 120px;
        height: 14px;
    }
    .place2 input{
        width: 120px;
        height: 14px;
        margin-top: -3px;
    }
    .place3 input{
        width: 120px;
        height: 14px;
        margin-top: -9px;
    }
    .place3 label{
        margin-top: -9px;
    }
    .confi img{
        width: 120px;
        height: 36px;
    }
    #placeimg{
        font-size: 12px;
        width: 294px;
    }
    .Ask{
      font-size: 14px;
      width: 173px;
    }
    .Ask img{
        width: 10px;
    }
    /* .fff{
        width: 650px;
    } */
    .being{
        font-size: 13px;
    }
    .buttons{
        width:152px;
        margin-left: 134px;
    }
    .button1{
      width: 100px;
      margin-left: 40px;
      font-size: 12px;
    }
    .fff{
        margin-left: 99px;
    }
    .allsub{
        margin-right: 59px;
    }
    .keefer img{
        width: 130px;
    }
    .subff2{
        font-size: 10px;
    }
    .buttons2{
        width: 156px;
    }
    .button2{
       width: 100px;
        margin-left: 40px;
         font-size: 12px;
    }
    .ff2{
       margin-left: -50px;
    }
    .order img{
        margin-left: -84px;
    }
    .buttons3{
       margin-left: 3px;
       width: 188px;
    }
    .button3{
        width: 106px;
    font-size: 14px;
    margin-left: 53px;
    }
    .ff3{
    margin-right: 95px;
    }
    .line1{
        width: 700px;
    }
    .container{
       margin-left: 40px;
    }
    .areas{
        font-size: 12px;
    }
    .bigbittons{
        margin-left: 11px;
    }
   .box{
    width: 196px;
    height: 52px;

   }
   .box span{
    font-size: 11px;
   }
   .page-content{
    margin-left: -98px;
   }
   .page-content h1{
    font-size: 18px;
   }
   .para3{
    font-size: 9px;
   }
   .client h3{
    font-size: 15px;
   }
 }
 @media(min-width:400px) and (max-width:825px){
   
    .left1{
        font-size: 12px;
        margin-left: -125px;
    }
    .left2{
        height: 238px;
    }
    .fff{
        width: 700px;
        margin-left: 75px;
    }
    .being{
        font-size: 12px;
    }
    .buttons{
       margin-left: 96px;
    }
    .allsub{
        width: ;
    }
    .button2{
       width: 89px;
       height: 23px;
       font-size: 12px
    }
    .keefer img{
       width: 109px;
       margin-top: 20px;
    }
    .subff2{
        font-size: 10px;
    }
    .buttons3{
        margin-top: -17px;
        width: 162px;
        margin-left: -6px;
    }
    .button3{
       width: 89px;
       height: 23px;
       font-size: 12px
    }

    .order img{
        width: 121px;
        margin-top: -30px;
        margin-left: -76px;;
    }
    .ff3{
        margin-right: 141px;
    }
    .subff3{
       gap: 10px;
    }
    .subff3 img{

    }
    .subff32 img{
        width: 120px;
    }
    .qtext h2{
        font-size: 20px;
    }
    .para2 p{
       font-size: 16px;
    }
    .buttons4{
        width: 179px;
    }
    .button4{
      width: 140px;
      height: 25px;
      font-size: 18px;
      margin-left: 25px;
    }

}
@media(min-width:400px) and (max-width:817px){
    .first{
        width: 700px;
    }
    .left1{
        margin-left: -140px;
    }
    .secondall{
        margin-left: 18px;
        width: 770px;
    }
    .being{
        font-size: 11px;
    }
    .buttons{
        margin-left: 81px;
    }
    .left2{
        height: 220px;
    }
    .mansehra h3{
        font-size: 16px;
    }
    .span{
        font-size: 14px
    }
    .text p{
        font-size: 11px;
    }
    .placeholders{

    }
    .place1 input{
        width: 110px;
    }
    .place2 input{
        width: 110px;
    }
    .place3 input{
        width: 110px;
    }
    .confi img{

    }
    #placeimg{
        width: 285px;
    }
    .Ask{
        width: 164px;
        font-size: 13px;
    }
    .fff{
        width: 650px;
        margin-left: 125px;
    }
    .subff2{
        margin-left: 10px;
    }
    .subff2 p{
        font-size: 11.5px;
    }
    .ff2{

    }
    .order img{
        margin-left: -57px;
    }
    .ff3{
        margin-left: 70px;
        width: 300px;
    }
    .line1 img{
        width: 650px;
    }
    .container{
        width: 600px;
    }
    .page-content{
        margin-left: 12px;
    }
    .para3 p{
        font-size: 8px;
    }
}
@media(min-width:400px) and (max-width:800px){
    .secondall{
        margin-left: 7px;
    }
    .allff{
        width: 600px;
    }
    .fff{
        margin-left: 120px;
    }
}
 @media(min-width:400px) and (max-width:778px){
    .secondall{
        width: 750px;
    }
    .left2{
        height: 213px;
    }

 }
 @media(min-width:400px) and (max-width:768px){
    .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo img{
      width: 210%;
      margin-left: -168px;
    }
    .left1{
       margin-left: 38px;
       font-size: 23px;
       line-height: 37px;
    }
    .navbar ul{
        display: none;
    }
    .secondall{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: ;

    }
    .second img{
       width: 203%;
       margin-left: -200px;
    }
    .all{
        width: 122px;
    }
    .left2{
        width: 101%;
        height: 478px;
        margin-left: 1px;
    }
    .mansehra h3{
        font-size: 50px;
    }
    .span{
        font-size: 27px;
    }
    .text p{
        font-size: 27px;
    }
    .placeholders{
        margin-top: -26px;
        margin-left: 38px;
    }
    
    .place1 input{
        width: 306px;
        height: 26px;
    }
    .place1{
        font-size: 25px;
    }
    .place2 input{
       width: 306px;
        height: 26px;
    }
    .place2 {
        font-size: 25px;
        margin-top: 17px;
    }
    .place3 input{
       width: 306px;
        height: 26px;
    }
    .place3{
        font-size: 23px;
        margin-top: 33px;
    }
    #placeimg{
        margin-top: 20px;
        margin-left: 62px;
        width: 612px;
        height: 71px;
        font-size: 27px; 
    }
    .confi img{
        width: 210px;
        height: 69px;
        margin-top: 16px;
    }
    .paraask{
        margin-left: 28px;
        font-size: 20px;
    }
    .Ask{
        width: 393px;
        font-size: 31px;
    }
   .fff{
       width: 600px;
      }
      .secondstage{
       font-size: 20px;
       margin-left: -152px;
       width: 314px;
      }
      .allsub{
        
      }
      .fff2{
       
      }
    .secondstage{
        font-size: 16px;
        margin-left: -131px;
    
    }
    .pasteimg img{
        margin-left: 12px;
    }
    .allsub{
        border: none;
    }
    .h2h4{
        font-size: 17px;
    }
    .free{
        font-size: 19px;
    }
    .fff2{
        gap: 32px;
        border: none;
    }
    .being{
        font-size: 13.4px;
    }
    .buttons{
        margin-left: 104px;
    }
    .button1{
        width: 124px;
        height: 30px;
        font-size: 18px;
    }
    .blearn h2{
        font-size: 23px;
        line-height: 20px;
    }
    .blearn p{
        font-size: 15px;
        line-height: 20px;
    }
    .ff2{
      margin-right: 25px;
      margin-left: -13px;
      gap: 83px;
      width: 259px;
     }
    
    .buttons2{
        width: 189px;
        margin-left: 1px;
    }
    .button2{
        width: 129px;
        height: 25px;
        font-size: 19px;
    }
    .keefer img{
        height: autopx;
        width: 150px;
        margin-top: 29px;
        margin-left: -30px;
      }
      .subff2 h2{
        font-size: 22px;
      }
      .subff2{
        font-size: 14px;
      }
      .order img{
        width: 165px;
        height: auto;
        margin-bottom: -51px;
        margin-top: -43px;
        margin-right: -137px;
      }
      .buttons3{
        margin-top: 0px;
         width: 165px;
        height: 33px;
       margin-left: -1px;
      }
      .button3{
        width: 108px;
        height: 30px;
        font-size: 16px;
        margin-left: 40px;
    }
      .ff3{
        margin-top: 32px;
      }
      .subff3{
        gap: 83px;
        width: 200px;
        height: auto;
      }
      .subff3 img{
       margin-left: -10px;
      }
      .subff32 img{
        width: 122px;
        height: auto;
      }
      .qtext h2{
        font-size: 20px;

      }
      .para2 p{
        font-size: 16px;
      }
      .button4{
        width: 153px;
    height: 30px;
    font-size: 20px;
    margin-left: 19px;
      }
      .buttons4{
        margin-left: 100px;
      }
       .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     
      }
      .areas{
        width: 40%;
      }
      .page-content{
        width: 40%;
      }
      .client{
        width: 30%;
      }
      .box{
        width: 100%;
      }
      .page-content{
        font-size: 11px;
        margin-top: -170px;
      }
      .page-content h1{
        font-size: 20px;
      }
      .menu{
        text-align: center;
        justify-content: center;
      }
      .client{
        margin-left: 100px;
      }
      .follow h3{
        display: flex;
        font-size: 16px;
        gap: 4px;
      }
     .ifimg {
        margin-left: -34px;
     } 
     .lastfor{
        margin-left: -28px;
     }
    }
    @media(min-width:200px) and (max-width:480px){
        .first img{
            width: 480px;

        }
        .left1{
            font-size: 18px;
        }
        .second{
            margin-right: 8px;
        }
        .second img{
            width: 335px;
            margin-left: -62px;
        }
        .left2{
            width: 335px;
           height: auto;
        margin-left: 13px;
        }
        .left2 h3{
            font-size: 12px;
        }
        .span{
            font-size: 16px;
        }
        .text{
            font-size: 12px;
           
        }
        .place1{
            font-size: 12px;
            display: flex; 
        }
        .place2{
            font-size: 12px;
            display: flex; 
        }
        .place3{
            font-size: 12px;
            display: flex; 
            margin-top: 3px;
        }
        .all{
            width: 21px;

        }
        .placeholders{
            width: 21px;
            line-height: 21px;
        }
        .place1 input{
            width: 110px;
            height: 13px;
        }
        .place2 input{
            width: 110px;
            height: 13px;
        }
        .place3 input{
            width: 110px;
            height: 13px;
        }
        .confi{
            font-size: 10px;
            width: 32px;
        }
        .confi img{
            width: 121px;
            height: 35px;
            margin-left: 180px;
            margin-top: 15px;
        } 
        .imgplace{
            font-size: 11px;
        }
        #placeimg{
            width: 285px;
            height: 40px;
            font-size: 12px;
            margin-left: 24px;
        }  
        .textarea img4{
            font-size: 12px;
        }
        .paraask{
            margin-left: 12px;
        }
        .para{
            font-size: 11px;

        }
        .Ask{
            font-size: 14px;
            width: 169px;
        }
        .fff{
            margin-left: -269px;
        }
        .h2h4{
            font-size: 19px;
        }
        .free{
            font-size: 21.5px;
        }
        .being{
            font-size: 16px;
        }
        .pasteimg img{
            width: 70px;
            height: auto;
        }
        .buttons{
            width: 194px;
        }
        .button1{
           width: 138px;
           font-size: 20px;
        }
        .blearn h2{
            font-size: 15px;
        }
        .blearn p{
            font-size: 14px;
        }
        .subf2{
            margin-left: -12px;
        }
        .buttons2{
            width: 176px;
        }
        .button2{
           width: 107px;
           font-size: 15px;
        }
        .keefer img{
           width: 135px;
           height: auto;
           margin-left: -175px;
        }
        .fff2{
            margin-left: -64px  ;
        }
        .ff2{
            margin-left: -36px;
        }
        .subff2 h2{
            font-size: 15px;
        }
        .subff2{
            font-size: 12px;
            margin-left: -64px;
        }
        .buttons3{
            width: 178px;
            margin-left: -5px;
        }
        .button3{
           width: 107px;
           height: 29px;
           font-size: 15px;
           margin-left: 58px;
        }
        .order img{
            width: 150px;
            height: auto;
            margin-left: -174px;
            margin-top: -121px;
            margin-bottom: -43px;
        }
        .container{
            gap: 12px;
        }
        .subff3{
            gap: 115px;
            margin-left: -25px;
        }
        .qtext h2{
            font-size: 17px;
            margin-left: -50px;
        }
        .para2 p{
            font-size: 13px;
            margin-left: -50px;
        }
        .buttons4{
           width: 190px;
           margin-left: 70px;
        }
        .button4{
            width: 142px;
            margin-left: 37px;
        }
        .areas h2{
            font-size: 12px;
        }
        .page-content h1{
            font-size: 12px;
        }
        .page-content{
            margin-bottom: -5px;
        }
        .box{
            width: 151px;
            height: 45px;
            font-size: 12px;
        }
        .box span{
            font-size: 12px;
            margin-left: 40px;
            margin-top: -4px;
        }
        .para3{
            font-size: 7.5px;
            line-height: 10.5px;
        }
        .learn h3{
             font-size: 12px;
        }
        .menu h3{
            margin-top: -85px;
        }
        .client{
            margin-right: 152px;
        }
        .client h2{
            font-size: 16px;

        }
         .client p{
            font-size: 11px;
         }
         .clientbut{
            width: ;
         }
         .lastimgs{
            margin-left: 28px;
         }
         .lastfor{
            margin-left: 2px;
         }
    }